.chat-record-logo {
  width: 32px;
  height: 32px;
  margin-right: 1rem;
}

.chat-record-wrapper {
  width: 100%;
}

.chat-record-text {
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-shrink: 1;
}
