.chat-record-wrapper {
  display: flex;
  align-items: stretch;
  margin: 8px;
}

.chat-record-logo {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.chat-record-text {
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  flex-shrink: 1;
}
