.app-wrapper {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgb(0, 158, 221), lightskyblue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.app-wrapper > * {
  max-width: 80vw;
  min-width: 512px;
}

.message-list {
  overflow-y: scroll;
}
