.message-wrapper {
  display: flex;
  align-items: flex-end;
}

.message-wrapper-reverse {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
}

.message-logo {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  margin: 8px;
  border-radius: 16px;
}

.message-text {
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
  word-wrap: break-word;
  word-break: break-all;
}

.message-user-name {
  color: gray;
  font-size: 12px;
}

.message-timestamp {
  color: gray;
  display: flex;
  justify-content: flex-end;
  font-size: 8px;
}
