.message-wrapper {
  display: flex;
  align-items: flex-end;
}

.message-wrapper-reverse {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
}

.message-logo {
  width: 2rem;
  height: 2rem;
}

.message-text {
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
  word-wrap: break-word;
  word-break: break-all;
}

.text-small {
  font-size: 0.75rem;
}
