.new-message-edit {
  border: solid lightgray 1px;
  border-radius: 8px;
  padding: 8px;
  margin-right: 8px;
  flex-grow: 1;
}

.new-message-submit-image {
  height: 1rem;
  width: 1rem;
}

.new-message-submit:active {
  background-color: lightgray;
}
